name: Frontend CI-dev

on:
  pull_request:
    branches: [ "dev" ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: npm

      - name: Install
        run: npm ci

      - name: Test
        run: npm test
